.profile-container{
    margin-top: 150px;
    height: 75vh;
    width: 94vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.person-profile-img{
    height: 400px;
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.person-details{
    height: 400px;
    width: 45vw;
    background-color: antiquewhite;
    padding: 10px 0 0 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.name{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: #098509;
}
.contact{
    color: #6e716e;
    font-size: 17px;
}
.side-heading{
    color: #6d706d;
    font-size: 18px;
    font-weight: 600;
}
.button{
    height: 40px;
    width: 120px;
    border: none;
    background-color: #47c26c;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
}



@media screen and (max-width: 767px) {
    .profile-container{
        height: 100%;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;  
        border-radius: 10px;
    }
    .person-img{
        width: 100%;
    }
    .person-profile-img{
        height: 320px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .person-details{
        height: 100%;
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
    .button{
        margin:10px 0 0 90px;
    }
}